[alias]
	st = status
	co = checkout
	br = branch
	lg = "log --graph --date=human --format='%C(#e3c78a)%h%C(#ff5454)%d%C(reset) - %C(#36c692)(%ad)%C(reset) %s %C(#80a0ff){%an}%C(reset)'"

# 如果用delta，则需要添加下方的配置
# https://github.com/dandavison/delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
# ==========================
